<h2>Built In Pipes</h2>

<!-- ---------------------------------------async & currency Pipes--------------------------------------- -->

<!-- <p>Current count (using AsyncPipe): {{ counter | async }}</p> -->
<p>Price in USD (default format): {{ price | currency }}</p>
<p>
  Price in USD with 2 decimal places:
  {{ price | currency : "USD" : true : "2.2-2" }}
</p>
<p>
  Price in EUR with symbol after:
  {{ price | currency : "EUR" : true : "1.0" }}
</p>

<br /><br />

<!-- -------------------------------------Date & Json Pipes--------------------------------------------- -->

<p>Today's date (long format): {{ today | date : "longDate" }}</p>
<br />
<p>Today's date (short format): {{ today | date : "shortDate" }}</p>
<br />
<p>Today's date (custom format): {{ today | date : "y MMMM d (E)" }}</p>
<br />
<br />
<pre>{{ myObject | json }}</pre>
<br />
<br />
<p>{{ lowerCase | lowercase }}</p>
